/* WooCommerce
------------------------------------------------------------------------------------ */

/* Content and Sidebar */
/*.woocommerce:not(.expand_content):not(.body_style_fullwide):not(.body_style_fullscreen) .content { width: 840px; }*/
/*.woocommerce .sidebar { 			 width: 300px; }*/

/* Fullwide or Fullscreen with sidebar */
/*.woocommerce.body_style_fullwide.sidebar_right .content, .woocommerce.body_style_fullscreen.sidebar_right .content { padding-right: 330px; }*/
/*.woocommerce.body_style_fullwide.sidebar_right .sidebar, .woocommerce.body_style_fullscreen.sidebar_right .sidebar { margin-left: -300px; }*/
/*.woocommerce.body_style_fullwide.sidebar_left  .content, .woocommerce.body_style_fullscreen.sidebar_left  .content { padding-left:  330px; }*/
/*.woocommerce.body_style_fullwide.sidebar_left  .sidebar, .woocommerce.body_style_fullscreen.sidebar_left  .sidebar { margin-right:-300px; }*/



.woocommerce-page .post_item_single .post_footer {
	display:none;
}
.woocommerce .woocommerce-breadcrumb {
    display: none;
}

/* Shop Listing
----------------------------------------------------------------- */

.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
    width: 33%;
    margin: 0 0 3em;
}

.woocommerce .list_products_header, .woocommerce-page .list_products_header {
    margin-bottom: 3.2em;
    padding: 2.2em 3em;
}
.woocommerce .woocommerce-breadcrumb {
	margin-bottom:0;
	text-align:center;
    font-size: 1.1em;
}
.woocommerce .post_item_single .woocommerce-breadcrumb {
	display:none;
}
.woocommerce .page-title {
	margin:0;
	text-align: left;
    font-size: 3.125em;
    font-weight: 100;
}

.woocommerce .room_shop_mode_buttons, .woocommerce-page .room_shop_mode_buttons {
	float:left;
	margin-right:0.75em;
	margin-bottom: 3em;
	display:block;
	font-size:1.15em;
    margin-top: 0.55em;
}
.woocommerce .woocommerce-result-count {
    font-size: 0.875em;
    margin-top: 0.7em;
    color: #bcbdc1;
}
.woocommerce .room_shop_mode_buttons a+a, .woocommerce-page .room_shop_mode_buttons a+a {
	margin-left: 0.5em;
}

.woocommerce ul.products, .woocommerce-page ul.products {
	margin-right:-30px;
	margin-bottom:0;
}
.woocommerce.columns-1 ul.products li.product, .woocommerce-page.columns-1 ul.products li.product,
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
    margin: 0;
    padding: 0 30px 25px 0;
    position: relative;
	width: 100%;
}
.woocommerce.columns-2 ul.products li.product, .woocommerce-page.columns-2 ul.products li.product,
.woocommerce .related.products ul.products li.product.column-1_2, .woocommerce-page .related.products ul.products li.product.column-1_2,
.woocommerce .upcells.products ul.products li.product.column-1_2, .woocommerce-page .upcells.products ul.products li.product.column-1_2,
.woocommerce ul.products li.product.column-1_2, .woocommerce-page ul.products li.product.column-1_2 {
    width: 50%;
}
.woocommerce.columns-3 ul.products li.product, .woocommerce-page.columns-3 ul.products li.product,
.woocommerce .related.products ul.products li.product.column-1_3, .woocommerce-page .related.products ul.products li.product.column-1_3,
.woocommerce .upcells.products ul.products li.product.column-1_3, .woocommerce-page .upcells.products ul.products li.product.column-1_3,
.woocommerce ul.products li.product.column-1_3, .woocommerce-page ul.products li.product.column-1_3 {
    width: 33.3333%;
}
.woocommerce.columns-4 ul.products li.product, .woocommerce-page.columns-4 ul.products li.product,
.woocommerce .related.products ul.products li.product.column-1_4, .woocommerce-page .related.products ul.products li.product.column-1_4,
.woocommerce .upcells.products ul.products li.product.column-1_4, .woocommerce-page .upcells.products ul.products li.product.column-1_4,
.woocommerce ul.products li.product.column-1_4, .woocommerce-page ul.products li.product.column-1_4 {
    width: 25%;
}
.woocommerce.columns-5 ul.products li.product, .woocommerce-page.columns-5 ul.products li.product,
.woocommerce .related.products ul.products li.product.column-1_5, .woocommerce-page .related.products ul.products li.product.column-1_5,
.woocommerce .upcells.products ul.products li.product.column-1_5, .woocommerce-page .upcells.products ul.products li.product.column-1_5,
.woocommerce ul.products li.product.column-1_5, .woocommerce-page ul.products li.product.column-1_5 {
    width: 20%;
}
.woocommerce.columns-6 ul.products li.product, .woocommerce-page.columns-6 ul.products li.product,
.woocommerce .related.products ul.products li.product.column-1_6, .woocommerce-page .related.products ul.products li.product.column-1_6,
.woocommerce .upcells.products ul.products li.product.column-1_6, .woocommerce-page .upcells.products ul.products li.product.column-1_6,
.woocommerce ul.products li.product.column-1_6, .woocommerce-page ul.products li.product.column-1_6 {
    width: 16.6667%;
}
.woocommerce ul.products li.product-category mark, .woocommerce-page ul.products li.product-category mark {
	background:none;
}

.woocommerce ul.products li.product .post_item {
	margin-bottom:0;
    background: transparent;
}
.woocommerce ul.products li.product .button {
	margin-top:0;
}


.woocommerce ul.products li.product .post_header a, .woocommerce-page ul.products li.product .post_header a {
    color: #797b7f;
}


.post_item_single .products .post_header {
    text-align: left;
    margin: 0;
}
.woocommerce #respond input#submit.loading:after, .woocommerce a.button.loading:after, .woocommerce button.button.loading:after,
.woocommerce input.button.loading:after {
    top: 1em;
}

.woocommerce ul.products li.product .post_featured .button {
    left: 50%;
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    top: 60%;
    z-index: 9;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
}

.woocommerce ul.products li.product .post_featured:hover span.onsale {
    background: #fff;
}

.woocommerce ul.products li.product .post_featured:hover .button {
    filter: alpha(opacity=100);
    opacity: 1;
    top: 50%;
}






/* Thumbs mode */
.woocommerce ul.products li.product a img, .woocommerce-page ul.products li.product a img,
.woocommerce ul.products li.product a:hover img, .woocommerce-page ul.products li.product a:hover img {
	margin: 0;
	box-shadow:none;
}
.woocommerce ul.products li.product .post_featured, .woocommerce-page ul.products li.product .post_featured {
	overflow:visible;
	margin-bottom:0;
    border: 5px solid #f9f9f9;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;


}
.woocommerce span.onsale {
	z-index:1000;
    font-size:11px;
    text-transform:uppercase;
    display: block;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 16px;
    height: 16px;
    min-height: 16px;
    overflow: hidden;
    margin: 10px 10px 0 0 !important;
    padding: 6px 7px 6px 9px;
    min-width: auto;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all ease .6s;
    -moz-transition: all ease .6s;
    -ms-transition: all ease .6s;
    -o-transition: all ease .6s;
    transition: all ease .6s;
}
.woocommerce ul.products li.product .post_data, .woocommerce-page ul.products li.product .post_data {
    padding: 1.5em 0 0;
    text-align: left;
}
.woocommerce .shop_mode_list ul.products li.product .post_data {
    padding: 0;
}
.woocommerce ul.products li.product h3, .woocommerce-page ul.products li.product h3 {
    font-size: 1em;
    font-weight: 300;
	line-height: 1.3em;
	margin-top:0;
	margin-bottom: 0.3em;
	padding:0;
	overflow:hidden;
}
.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price {
    font-size: 1em;
    font-weight: 500;
	margin-top:0;
	margin-bottom:1.5em;
}
.woocommerce ul.products li.product .price del, .woocommerce-page ul.products li.product .price del {
    font-weight: 300;
}

.woocommerce div.product p.price, .woocommerce div.product span.price,
.woocommerce span.amount, .woocommerce-page span.amount,
.woocommerce ul.products li.product .price {
    color: #bcbdc1;
}
.woocommerce ul.products li.product del, .woocommerce ul.products li.product del span.amount {
    color: #bcbdc1;
}


.woocommerce ul.products li.product .price ins {
	text-decoration:none;
	font-weight:inherit;
	font-style:inherit;
}
.woocommerce ul.products li.product .price del {
	display:inline-block;
	margin-right:6px;
}


/* List mode */
.woocommerce .shop_mode_list ul.products li.product, .woocommerce-page .shop_mode_list ul.products li.product {
	overflow:hidden;
	margin:0;
	float:none;
	width:100%;
}
.woocommerce .shop_mode_list ul.products li.product .post_item, .woocommerce-page .shop_mode_list ul.products li.product .post_item {
	overflow:hidden;
	text-align:left;
}
.woocommerce .shop_mode_list ul.products li.product .post_data, .woocommerce-page .shop_mode_list ul.products li.product .post_data {
	height:auto;
}
.woocommerce .shop_mode_list ul.products li.product .post_featured, .woocommerce-page .shop_mode_list ul.products li.product .post_featured {
	float: left;
	margin: 0 1.5em 0 0;
	width: 31%;
	max-width:260px;
}
.woocommerce .shop_mode_list ul.products li.product .onsale, .woocommerce-page .shop_mode_list ul.products li.product .onsale {
	margin:0.5em 0.5em 0 0;
}
.woocommerce .shop_mode_list ul.products li.product h3, .woocommerce-page .shop_mode_list ul.products li.product h3 {
	margin-bottom:0.5em !important;
	border-bottom:none;
	text-align:left !important;
	font-size:1.5385em;
}
.woocommerce .shop_mode_list ul.products li.product .description, .woocommerce-page .shop_mode_list ul.products li.product .description {
	margin-bottom:1.5em;
	line-height:1.3em;
	overflow:hidden;
	max-height:6.6em;
}
.woocommerce .shop_mode_list ul.products li.product-category .description, .woocommerce-page .shop_mode_list ul.products li.product-category .description {
	border-bottom: none;
}
.woocommerce .shop_mode_list ul.products li.product .description p, .woocommerce-page .shop_mode_list ul.products li.product .description p,
.woocommerce .shop_mode_list ul.products li.product .description ul, .woocommerce-page .shop_mode_list ul.products li.product .description ul {
	padding-bottom:0;
	margin-bottom:0;
	line-height:1.3em;
}

.woocommerce a.added_to_cart, .woocommerce-page a.added_to_cart {
	padding: 0.1em 0 0 0.5em;
    vertical-align: top;
    display: none;
}
.woocommerce img, .woocommerce-page img {
    vertical-align: middle;
}

/* Rating stars */
.woocommerce .star-rating:before {
    content: "SSSSSSSS";
    filter: alpha(opacity=70);
    opacity: 0.7;
}
.woocommerce .products .star-rating {
	 margin: 0 0 0.5em;
}
.woocommerce .shop_mode_list .products .star-rating {
	 margin: 0 0 0.5em;
}
.woocommerce .products .star-rating:before,
.woocommerce .products .star-rating span {
	 top: 1px;
}


/* Pagination */
.woocommerce nav.woocommerce-pagination {
    border-top: 3px solid #f9f9f9;
    margin-top: 1.2em;
    padding-top: 3.85em;
}
.woocommerce nav.woocommerce-pagination ul {
	border:none;
}
.woocommerce nav.woocommerce-pagination ul li {
	margin: 0 4px 4px 0;
	border: none;
}
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
	border-bottom:2px solid transparent;
    background: transparent;
    display: inline-block;
    font-size: 0.92em;
    line-height: 2em;
    font-weight: 600;
    padding: 1px 5px;
    text-align: center;
    margin: 0 1px;
}



/* Single product decoration
---------------------------------------------------------------------------- */

/* Title */
.woocommerce div.product .product_title {
	font-size:2.813em;
	line-height:1.3em;
	font-weight:300;
	margin-bottom:1em;
}

.woocommerce div.product form.cart {
    margin-top: 3.2em;
}

/* Price */
.woocommerce div.product p.price {
	position:relative;
	margin-bottom:1.8em;
	font-weight:600;
}
.woocommerce div.product p.price ins {
	text-decoration:none;
	font-size: 27px;
	font-style:normal;
}
.woocommerce div.product p.price del {
	font-size: 0.875em;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
	line-height:1.25em;
}

.woocommerce .widget_price_filter .price_slider_amount .button {
    font-size: 14px;
    padding: 0.95em 1.55em;
}

.woocommerce .sidebar span.amount, .woocommerce-page .sidebar span.amount {

}
.widget_shopping_cart_content .buttons {
    margin-bottom: 0.5em;
}
.widget_shopping_cart_content .buttons .checkout {
    margin-left: 7px;
}
.woocommerce .sidebar .widget_shopping_cart .total, .sidebar .woocommerce.widget_shopping_cart .total {
    border: none;
}


.woocommerce div.product div.images, .woocommerce div.product div.summary {
    margin-bottom: 8em;
}
/* Images and thumbnails */
.woocommerce div.product div.images, .woocommerce #content div.product div.images, .woocommerce-page div.product div.images, .woocommerce-page #content div.product div.images {
	margin-bottom: 8em;
	width: 48%;
}
.woocommerce #content div.product div.thumbnails a, .woocommerce div.product div.thumbnails a,
.woocommerce-page #content div.product div.thumbnails a, .woocommerce-page div.product div.thumbnails a {
	margin-right: 1.5%;
	width: 18.5%;
	position:relative;
	border: 1px solid transparent;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.woocommerce #content div.product div.thumbnails.columns-4 a, .woocommerce div.product div.thumbnails.columns-4 a,
.woocommerce-page #content div.product div.thumbnails.columns-4 a, .woocommerce-page div.product div.thumbnails.columns-4 a {
	margin-right: 2.5%;
	width: 22.5%;
}
.woocommerce #content div.product div.thumbnails.columns-3 a, .woocommerce div.product div.thumbnails.columns-3 a,
.woocommerce-page #content div.product div.thumbnails.columns-3 a, .woocommerce-page div.product div.thumbnails.columns-3 a {
	margin-right: 3.3333%;
	width: 33%;
}
.woocommerce #content div.product div.thumbnails a:hover, .woocommerce div.product div.thumbnails a:hover, .woocommerce-page #content div.product div.thumbnails a:hover, .woocommerce-page div.product div.thumbnails a:hover {
	border-color: #f0f0f0;
}
.woocommerce #content div.product div.thumbnails a:before, .woocommerce div.product div.thumbnails a:before, .woocommerce-page #content div.product div.thumbnails a:before, .woocommerce-page div.product div.thumbnails a:before {
	content:' ';
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	-webkit-transition: all ease .3s;
	   -moz-transition: all ease .3s;
	    -ms-transition: all ease .3s;
	     -o-transition: all ease .3s;
	        transition: all ease .3s;
}
.woocommerce #content div.product div.thumbnails a:hover:before, .woocommerce div.product div.thumbnails a:hover:before, .woocommerce-page #content div.product div.thumbnails a:hover:before, .woocommerce-page div.product div.thumbnails a:hover:before {
	background-color:rgba(255,255,255, 0.4);
}
.woocommerce #content div.product div.thumbnails a.first, .woocommerce div.product div.thumbnails a.first, .woocommerce-page #content div.product div.thumbnails a.first, .woocommerce-page div.product div.thumbnails a.first {
    clear: none;
}
.woocommerce #content div.product div.thumbnails a.last, .woocommerce div.product div.thumbnails a.last, .woocommerce-page #content div.product div.thumbnails a.last, .woocommerce-page div.product div.thumbnails a.last {
    margin-right: 1.5%;
}
.woocommerce #content div.product div.thumbnails a:nth-child(5n+1), .woocommerce div.product div.thumbnails a:nth-child(5n+1), .woocommerce-page #content div.product div.thumbnails a:nth-child(5n+1), .woocommerce-page div.product div.thumbnails a:nth-child(5n+1) {
	clear:both;
}

div.pp_woocommerce .pp_arrow_next, div.pp_woocommerce .pp_arrow_previous {
	margin-top:4px;
}

/* Product summary */
.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
	width:48%;
}
.woocommerce #content div.product div.summary:after, .woocommerce div.product div.summary:after, .woocommerce-page #content div.product div.summary:after, .woocommerce-page div.product div.summary:after {
	content:' ';
	display:block;
	width: 100%;
	height:0;
	clear:both;
	float:none;
}


/* Meta: SKU, tags, categories, ID */
.woocommerce .product_meta span {
	display:block;
}
.woocommerce .product_meta span span {
	display:inline;
}
.woocommerce .product_meta span {
	font-weight:400;
}
.woocommerce .product_meta span span,
.woocommerce .product_meta a {
	font-weight:400;
}


/* Add to cart */
.woocommerce div.product form.cart, .woocommerce #content div.product form.cart, .woocommerce-page div.product form.cart, .woocommerce-page #content div.product form.cart {
    padding-bottom: 2.5em;
    margin-bottom: 2em;
	border-bottom:2px solid #f9f9f9;
	overflow:hidden;
}
.woocommerce div.product form.cart div.quantity, .woocommerce-page div.product form.cart div.quantity {
	margin: 0 0.5em 0 0;
	width:5em;
	height: 2.95em;
	position:relative;
}
.woocommerce div.product form.cart div.quantity span, .woocommerce-page div.product form.cart div.quantity span {
	display:block;
	position:absolute;
	z-index:1;
	right:0;
	width:1.5em;
	height:50%;
	text-align:center;
	line-height:1.35em;
	cursor:pointer;
    color: #fff;
    background-color: #1a1a1a;
}
.woocommerce div.product form.cart div.quantity span.q_inc, .woocommerce-page div.product form.cart div.quantity span.q_inc {
	top:0;
}
.woocommerce div.product form.cart div.quantity span.q_dec, .woocommerce-page div.product form.cart div.quantity span.q_dec {
	bottom:0;
	border-top:1px solid #ffffff;
}
.woocommerce div.product form.cart div.quantity span:before, .woocommerce-page div.product form.cart div.quantity span:before {
	font-family:'fontello';
}
.woocommerce div.product form.cart div.quantity span.q_inc:before, .woocommerce-page div.product form.cart div.quantity span.q_inc:before {
	content:'\e835';
}
.woocommerce div.product form.cart div.quantity span.q_dec:before, .woocommerce-page div.product form.cart div.quantity span.q_dec:before {
	content:'\e828';
}
.woocommerce div.product form.cart div.quantity input[type="number"], .woocommerce-page div.product form.cart div.quantity input[type="number"] {
	width: 100%;
	height: 100%;
	padding-right:0;
}

/* Tabs */
.woocommerce div.product .woocommerce-tabs ul.tabs, .woocommerce #content div.product .woocommerce-tabs ul.tabs, .woocommerce-page div.product .woocommerce-tabs ul.tabs, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs {
	margin-bottom:-1px;
	padding-left:30px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs:before, .woocommerce #content div.product .woocommerce-tabs ul.tabs:before, .woocommerce-page div.product .woocommerce-tabs ul.tabs:before, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs:before {
	border-width:0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li, .woocommerce #content div.product .woocommerce-tabs ul.tabs li, .woocommerce-page div.product .woocommerce-tabs ul.tabs li, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li {
	background:#ffffff;
	box-shadow: none;
	border:none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active, .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active {
	border: 1px solid #dddddd;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-color:#ffffff;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:before, .woocommerce #content div.product .woocommerce-tabs ul.tabs li:before, .woocommerce-page div.product .woocommerce-tabs ul.tabs li:before, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li:after, .woocommerce #content div.product .woocommerce-tabs ul.tabs li:after, .woocommerce-page div.product .woocommerce-tabs ul.tabs li:after, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:after {
	display:none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active a {
    color: inherit;
    text-shadow: inherit;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a, .woocommerce #content div.product .woocommerce-tabs ul.tabs li a, .woocommerce-page div.product .woocommerce-tabs ul.tabs li a, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a {
    border-bottom: 2px solid transparent;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 0.2em;
    margin-right: 2.3em;
    padding: 0.1em 0;
    color: #aaabaf;
}

.woocommerce div.product .woocommerce-tabs .panel, .woocommerce #content div.product .woocommerce-tabs .panel, .woocommerce-page div.product .woocommerce-tabs .panel, .woocommerce-page #content div.product .woocommerce-tabs .panel {
	border-width: 1px;
	border-style: solid;
    margin: 0;
    padding: 1.5em 1.5em 1em 1.5em;
	display:none;
}
.woocommerce div.product .woocommerce-tabs h2, .woocommerce #content div.product .woocommerce-tabs h2, .woocommerce-page div.product .woocommerce-tabs h2, .woocommerce-page #content div.product .woocommerce-tabs h2 {
	margin-top:0;
    font-size: 2.188em;
    font-weight: 300;
}
.woocommerce #reviews #comments h2 {
    margin-bottom: 0.7em;
}
.woocommerce div.product .woocommerce-tabs h3, .woocommerce #content div.product .woocommerce-tabs h3, .woocommerce-page div.product .woocommerce-tabs h3, .woocommerce-page #content div.product .woocommerce-tabs h3 {
	font-size: 1.5385em;
	margin-bottom:0.25em !important;
}
.woocommerce div.product .woocommerce-tabs p, .woocommerce #content div.product .woocommerce-tabs p, .woocommerce-page div.product .woocommerce-tabs p, .woocommerce-page #content div.product .woocommerce-tabs p {
	margin:0;
}
.woocommerce div.product .woocommerce-tabs p+p, .woocommerce #content div.product .woocommerce-tabs p+p, .woocommerce-page div.product .woocommerce-tabs p+p, .woocommerce-page #content div.product .woocommerce-tabs p+p {
	margin-top:0.5em;
}

/* Decorate tabs on single product */
.single-product div.product .trx-stretch-width {
	clear:both;
}
.single-product div.product .trx-stretch-width .woocommerce-tabs {
    border-bottom: 3px solid #eeeeee;
    border-top: 3px solid #eeeeee;
    padding: 4.1em 0 2.7em;
}
.single-product div.product .trx-stretch-width .woocommerce-tabs .panel {
	border: none;
    padding: 3.5em 0 0;
}
.single-product div.product .trx-stretch-width .woocommerce-tabs .wc-tabs {
	padding-left: 0;
}
.single-product div.product .trx-stretch-width .woocommerce-tabs .wc-tabs:before,
.single-product div.product .trx-stretch-width .woocommerce-tabs .wc-tabs:after {
	display: none;
}
.single-product div.product .trx-stretch-width .woocommerce-tabs .wc-tabs li {
	border: none !important;
	background-color: transparent !important;
	margin:0 !important;
	padding:0 !important;
}
.single-product div.product .trx-stretch-width .woocommerce-tabs .wc-tabs li a {
	position:relative;
	font-weight:600;
}
.single-product div.product .trx-stretch-width .woocommerce-tabs .wc-tabs li.active a:after {
	content: ' ';
	display:block !important;
	position:absolute;
	bottom:0;
	height:2px;
	width: 100%;
}
.single-product div.product .trx-stretch-width .woocommerce-tabs #review_form_wrapper {
    margin-top: 2em;
    padding-top: 2.5em;
    border-top: 3px solid #eee;
}

/* Stars */
.woocommerce .woocommerce-product-rating, .woocommerce-page .woocommerce-product-rating { float:right; }
.woocommerce .woocommerce-product-rating .woocommerce-review-link, .woocommerce-page .woocommerce-product-rating .woocommerce-review-link { display:none; }
.woocommerce .woocommerce-product-rating .star-rating, .woocommerce-page .woocommerce-product-rating .star-rating { margin-top:4px; margin-bottom:4px; }
.woocommerce .star-rating, .woocommerce-page .star-rating { height: 1.2em; margin-top:4px; margin-bottom:4px; letter-spacing: 0.035em;}


/* Users reviews */
.woocommerce #reviews #comments ol.commentlist {
	padding:0;
}
.woocommerce #reviews #comments ol.commentlist li {
	margin-bottom:0;
}
.woocommerce .woocommerce-tabs .form-submit { display:block; }
.woocommerce #reviews #comments ol.commentlist li img.avatar, .woocommerce-page #reviews #comments ol.commentlist li img.avatar {
	background:none;
	border:none;
	padding:0;
	width: 60px;
	float:left;
	margin:0 1.5em 0.5em 0;
	position:static;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text, .woocommerce-page #reviews #comments ol.commentlist li .comment-text {
	margin:0;
	padding:0;
	border:0;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta, .woocommerce-page #reviews #comments ol.commentlist li .comment-text p.meta {
	padding-top:0;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta strong, .woocommerce-page #reviews #comments ol.commentlist li .comment-text p.meta strong {
    font-size: 16px;
	font-weight:400;
	color:#222222;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta time, .woocommerce-page #reviews #comments ol.commentlist li .comment-text p.meta time {
    font-size: 14px;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text .description, .woocommerce-page #reviews #comments ol.commentlist li .comment-text .description {
	line-height:21px;
}

.woocommerce #review_form #respond input[type="text"],
.woocommerce #review_form #respond textarea {
    width: 100%;
    padding: 1.1em 1.4em;
    margin-bottom: 0.7em;
    font-weight: 400;
}

.woocommerce #review_form  .form-submit {
    margin-top: 1.1em !important;
}

.woocommerce #review_form #respond textarea, .woocommerce-page #review_form #respond textarea {
	height: 120px;
	overflow:auto;
}

/* Related products */
.woocommerce .related.products h2 {
	text-align:center;
    margin: 1.4em 0 0.8em;
}

/* Categories list */
.woocommerce ul.products li.product.product-category .thumb_wrapper, .woocommerce-page ul.products li.product.product-category .thumb_wrapper {
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	background:url(../images/woo/shop-cat-bg-1.jpg) center center no-repeat;
	padding:1em;
	overflow:hidden;
}
/* not work correctly in the Chrome */
.woocommerce ul.products li.product.product-category .thumb_wrapper img, .woocommerce-page ul.products li.product.product-category .thumb_wrapper img {
	   -moz-transform: scale(1.7) translate(15%,15%);
		 -o-transform: scale(1.7) translate(15%,15%);
		-ms-transform: scale(1.7) translate(15%,15%);
}

.woocommerce ul.products li.product.product-category:nth-child(6n+2) .thumb_wrapper, .woocommerce-page ul.products li.product.product-category:nth-child(6n+2) .thumb_wrapper {
	background:url(../images/woo/shop-cat-bg-2.jpg) center center no-repeat;
}
.woocommerce ul.products li.product.product-category:nth-child(6n+3) .thumb_wrapper, .woocommerce-page ul.products li.product.product-category:nth-child(6n+3) .thumb_wrapper {
	background:url(../images/woo/shop-cat-bg-3.jpg) center center no-repeat;
}
.woocommerce ul.products li.product.product-category:nth-child(6n+4) .thumb_wrapper, .woocommerce-page ul.products li.product.product-category:nth-child(6n+4) .thumb_wrapper {
	background:url(../images/woo/shop-cat-bg-4.jpg) center center no-repeat;
}
.woocommerce ul.products li.product.product-category:nth-child(6n+5) .thumb_wrapper, .woocommerce-page ul.products li.product.product-category:nth-child(6n+5) .thumb_wrapper {
	background:url(../images/woo/shop-cat-bg-5.jpg) center center no-repeat;
}
.woocommerce ul.products li.product.product-category:nth-child(6n+6) .thumb_wrapper, .woocommerce-page ul.products li.product.product-category:nth-child(6n+6) .thumb_wrapper {
	background:url(../images/woo/shop-cat-bg-6.jpg) center center no-repeat;
}
.woocommerce ul.products li.product.product-category img, .woocommerce-page ul.products li.product.product-category img {
	width:100%;
	height:auto;
}

.woocommerce ul.products li.product.product-category h3, .woocommerce-page ul.products li.product.product-category h3 {
	margin-bottom:0;
	border-bottom:none;
	text-align:center;
}
.woocommerce ul.products li.product.product-category mark.count, .woocommerce-page ul.products li.product.product-category mark.count {
	font-weight:400;
	font-style:normal;
}

/* Related products */
.woocommerce .related ul li.product, .woocommerce .related ul.products li.product, .woocommerce .upsells.products ul li.product, .woocommerce .upsells.products ul.products li.product, .woocommerce-page .related ul li.product, .woocommerce-page .related ul.products li.product, .woocommerce-page .upsells.products ul li.product, .woocommerce-page .upsells.products ul.products li.product {
    width: 50%;
	border:none;
	box-shadow: none;
}




/* Widgets decoration 
---------------------------------------------------------------*/

/* Cart in top user menu */
.top_panel_wrap .sidebar_cart {
	width: 250px !important;
	padding: 1.5em !important;
}
.top_panel_wrap .widget_shopping_cart { 
	display:block !important;
}
.top_panel_wrap .widget_shopping_cart ul.cart_list { 
	display:block;
	position:static;
	width:100%;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
			box-shadow: none;		
}
.top_panel_wrap .sidebar_cart > li,
.top_panel_wrap .widget_shopping_cart ul.cart_list > li {
	margin:0;
	padding-left:0;
}
.top_panel_wrap .sidebar_cart > li:before,
.top_panel_wrap .sidebar_cart > li > a:before,
.top_panel_wrap .widget_shopping_cart ul.cart_list > li:before,
.top_panel_wrap .widget_shopping_cart ul.cart_list > li > a:before {
	display:none;
}
.woocommerce .top_panel_wrap .widget_shopping_cart .empty,
.woocommerce-page .top_panel_wrap .widget_shopping_cart .empty {
	padding-bottom: 1em;
}
.top_panel_wrap .widget_shopping_cart ul.cart_list > li > a {
	padding: 0;
}
.top_panel_wrap .widget_shopping_cart ul.cart_list > li > a:not(.remove) {
	margin-top:-0.15em;
}
.top_panel_wrap .widget_shopping_cart ul.cart_list > li > a:hover {
	background-color: transparent;
	color: #ffffff;
}
.top_panel_wrap .widget_shopping_cart ul.cart_list > li img {
	width:50px;
	margin-top:0.5em;
}



/* Active filters */
.woocommerce .widget_layered_nav_filters > ul > li { padding:0 0.625em 0.5em 0; display:block; }
.woocommerce .widget_layered_nav_filters > ul > li:before {display:none; }
.woocommerce .widget_layered_nav_filters > ul > li a,
.woocommerce .widget_layered_nav ul li.chosen a, .woocommerce-page .widget_layered_nav ul li.chosen a { background-color: transparent; border:none; padding:0; color:#222222; }

/* Price filter */
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content { border-radius: 0; margin-bottom:1.225em; background:#ffffff; height: 3px; }
.woocommerce .widget_price_filter .price_label { font-size:1.15em; color: #797b7f; padding-top: 0.4em; }
.woocommerce .widget_price_filter .price_label span { color:#202020; }
.scheme_dark.woocommerce .widget_price_filter .price_label span { color:#797b7f; }
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range {
	height:3px;
	top: 0;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
    background-color: #18191b;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
    border-radius: 0;
    height: 11px;
    margin-left: 0;
    top: -4px;
    width: 4px;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
    border-radius: 0;
}

.woocommerce .widget_price_filter .price_slider_amount {
    margin-top: 2.5em;
}

/* Product search */
.woocommerce.widget_product_search form {
	position:relative;
}
.woocommerce.widget_product_search form:before {
	content: '\e807';
	font-family:'fontello';
	position:absolute;
	z-index:1;
	left:0.5em;
	top:1px;
    display: none;
}
.woocommerce.widget_product_search .search_field {
    width: 63%;
    padding: 1em;
    vertical-align: top;
}
.woocommerce.widget_product_search .search_button {
    background: #18191b;
    color: #fff;
    font-size: 0.875em;
    font-weight: 600;
    letter-spacing: 0.3em;
    margin-left: 6px;
    padding: 0.6em 1.1em;
}


/* Product title in widgets */
aside.woocommerce .product-title,
aside.woocommerce .mini_cart_item > a:not(.remove) {
	display:block;
	line-height:1.5em;
}



/* Cart 
--------------------------------------------------------------------- */
.woocommerce .quantity input.qty, .woocommerce #content .quantity input.qty, .woocommerce-page .quantity input.qty, .woocommerce-page #content .quantity input.qty {
	font-weight: 400;
	color: #222222;
}
.scheme_dark.woocommerce .quantity input.qty,
.scheme_dark.woocommerce #content .quantity input.qty,
.scheme_dark.woocommerce-page .quantity input.qty,
.scheme_dark.woocommerce-page #content .quantity input.qty {
    font-weight: 400;
    color: #a9abaf;
}
.woocommerce table.cart img, .woocommerce #content table.cart img, .woocommerce-page table.cart img, .woocommerce-page #content table.cart img {
    width: 75px;
}

.woocommerce table.cart td, .woocommerce #content table.cart td, .woocommerce-page table.cart td, .woocommerce-page #content table.cart td {
	padding: 12px;
	text-align: center;
}
.woocommerce table.cart td.product-name, .woocommerce #content table.cart td.product-name, .woocommerce-page table.cart td.product-name, .woocommerce-page #content table.cart td.product-name {
	text-align: left;
}
.woocommerce table.cart td.actions .coupon .input-text, .woocommerce #content table.cart td.actions .coupon .input-text, .woocommerce-page table.cart td.actions .coupon .input-text, .woocommerce-page #content table.cart td.actions .coupon .input-text {
    border: none;
	margin-right:0.65em;
    padding: 0.95em 0.5em;
    width: 8em;
}

.woocommerce table.shop_table thead th, .woocommerce-page table.shop_table thead th {
	font-weight:400;
	font-size:1.125em;
}
#order_review thead th {
    text-align: left;
}
.woocommerce table.shop_table tfoot th, .woocommerce-page table.shop_table tfoot th {
	color: #222222;
	font-weight:400;
	font-size:0.875em;
	text-align:right;
}

.woocommerce .cart-collaterals h2, .woocommerce-page .cart-collaterals h2 {
	font-size:1.5em;
	font-weight: 400;
	line-height:1.3em;
	text-align:right;
}
.woocommerce .cart-collaterals .order-total strong, .woocommerce-page .cart-collaterals .order-total strong {
	font-weight:400;
}

.woocommerce .cart-collaterals .cart-subtotal .amount, .woocommerce-page .cart-collaterals .cart-subtotal .amount {
	font-size: 1em;
	font-weight:400;
}

.woocommerce .cart-collaterals .cart_totals table th, .woocommerce-page .cart-collaterals .cart_totals table th {
	padding: 6px;
	font-weight:400;
}

.woocommerce .cart-collaterals .cart_totals table select, .woocommerce-page .cart-collaterals .cart_totals table select {
	background-color:#f4f7f9;
	font-size:1em;
}

.woocommerce table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
	width: 100px;
}

.woocommerce .cart-collaterals .shipping_calculator .shipping-calculator-button:after, .woocommerce-page .cart-collaterals .shipping_calculator .shipping-calculator-button:after {
	color:#222222;
	font-size: 1em;
	font-weight:400;
}



/* Checkout 
--------------------------------------------------------------------------*/

.woocommerce form .form-row label, .woocommerce-page form .form-row label {
    line-height: 1.5em;
    margin-bottom: 4px;
    margin-top: 4px;
}

.woocommerce .checkout h3, .woocommerce-page .checkout h3 {
	margin-top:0;
	font-size:1.625em;
	font-weight:400;
}

.woocommerce .checkout .col-2 h3#ship-to-different-address label, .woocommerce-page .checkout .col-2 h3#ship-to-different-address label {
	display:inline-block;
}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea, .woocommerce-page form .form-row input.input-text, .woocommerce-page form .form-row textarea {
	font-weight:400;
    line-height: 1.3em;
    padding: 0.7em 1em;
}
.woocommerce table.shop_table .cart-subtotal .amount, .woocommerce-page table.shop_table .cart-subtotal .amount,
.woocommerce table.shop_table .shipping td, .woocommerce-page table.shop_table .shipping td {
	font-weight:400;
	color: #222222;	
}
.scheme_dark .woocommerce table.shop_table .cart-subtotal .amount, .scheme_dark.woocommerce-page table.shop_table .cart-subtotal .amount,
.scheme_dark .woocommerce table.shop_table .shipping td, .scheme_dark.woocommerce-page table.shop_table .shipping td {
    color: #f9f9f9;
}
#payment,
#payment ul {
    color: #222222;
}


.scheme_dark .woocommerce table.shop_table td {
    border-color: rgba(255, 255, 255, 0.2);
}
.scheme_dark .woocommerce table.shop_table {
    border-color: rgba(255, 255, 255, 0.2);
}
.scheme_dark .woocommerce table.shop_table tbody th,
.scheme_dark .woocommerce table.shop_table tfoot td,
.scheme_dark.woocommerce table.shop_table tfoot td,
.scheme_dark .woocommerce table.shop_table tfoot th {
    border-color: rgba(255, 255, 255, 0.2);
}
.scheme_dark .woocommerce .woocommerce-info a {
    color: #000;
}
.scheme_dark .woocommerce .woocommerce-info a:hover {
    color: #505153;
}
.woocommerce .cart-collaterals .shipping_calculator, .woocommerce-page .cart-collaterals .shipping_calculator {
    clear: none;
    float: left;
	margin-bottom:30px;
}
.woocommerce .checkout #order_review, .woocommerce-page .checkout #order_review {
	margin-bottom:3em;
}
.woocommerce .checkout #order_review_heading, .woocommerce-page .checkout #order_review_heading {
	padding-top:1.825em;
}
.woocommerce .checkout #order_review .order-total .amount, .woocommerce-page .checkout #order_review .order-total .amount {
	font-size:1.125em;
	line-height:1.3em;
	font-weight:400;
}
.woocommerce .checkout #order_review .payment_methods li, .woocommerce-page .checkout #order_review .payment_methods li {
	list-style:none;
}
.woocommerce .checkout #order_review .payment_methods li label, .woocommerce-page .checkout #order_review .payment_methods li label {
	display:inline-block;
}

.woocommerce-checkout #payment {
	background-color:#f4f7f9;
}
.woocommerce-checkout #payment div.payment_box:after {
	top:0;
}

.woocommerce .order_details li, .woocommerce-page .order_details li {
    font-size: 1em;
    line-height: 1em;
	list-style:none;
}
.woocommerce .order_details li strong, .woocommerce-page .order_details li strong {
	font-weight:300;
	color:#222222;
}
.woocommerce.scheme_dark ul.products li.product .post_featured:hover {
    border-color: #262a2c;
}


/* My Account
--------------------------------------------------------------------------*/
.woocommerce-account .addresses .title h3 {
	font-size: 2em;
	margin-top:0;
}











